html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
box-sizing: inherit;
}
.page {
    margin: 0px auto;
    font-family: 'Roboto', sans-serif;
    color: rgb(85, 82, 82);
    }
.clearfix::after{
    display: table;
    content: "";
    clear: both;
}
.wrap {
   padding-top: 30px;
   padding-bottom: 100px;
}
.container {
width: 1110px;
margin: 0 auto;
}
.product,.blog,.wrap {
    overflow: hidden;
    margin: auto;
    width: 1110px;
    box-sizing: content-box;
}
.logo {
    text-decoration: none;
    float: left;
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
    color: rgb(85, 82, 82);
   
}
.logo::first-letter {
    font-weight: 600;
    color: rgb(26, 188, 156);
}
.menu{
    list-style: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    min-width: 465px;
    float: right;
 margin: 0;
 padding: 0;
 margin-top: 8px;
 }

.menu li{
    float: left;
   
}
.menu li:not(:last-child) {
    margin-right: 33px;
}
.menu a{
    text-decoration: none;
    display: block;
    color: rgb(0, 0, 0);
}
.menu a:hover{
    color: rgb(26, 188, 156);
}
.caption{
  text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    margin: 0;
    /* display: block; */
}
.caption::after{
   content: "";
   display: block;
   width: 164px;
   margin: auto;
    margin-top: 33px;
    border-bottom: 7px solid rgb(26, 188, 156);
}
.top::after{
    content: "";
    margin-bottom: 80px;
}
.bot::after{
    content: "";
    margin-bottom: 92px;
}
.product{
       text-transform: uppercase;
}
.product ul{
    padding: 0;
}
.item {
    margin: 0 auto;
    list-style: none;
    float: left;
    font-size: 18px;
    width: 255px;
    overflow: hidden;
    /* margin-bottom: 30px; */
} 
.item:hover .attr {
    color: rgb(255, 255, 255);
    background-color: rgb(26, 188, 156);
}
.item:hover .bg {
    color: rgb(255, 255, 255);
    background-color: rgb(127, 217, 199);
}

.item:not(:nth-child(4n+4 )){
    margin-right: 30px;
    margin-bottom: 30px;
}

.attr {
    min-height: 40px;
    width: 100%;
    background: rgb(50, 50, 50);
    /* font-size: 18px; */
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.item-name{
 float: left;
 padding: 10px;
}
.price{
float: right;
padding: 10px;
background-color: rgb(140, 140, 140);
}



.blog{

}
.topic{
    float: left;
    font-family: 'Open Sans', sans-serif;
    width: 350px;
}
.topic h3{
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.36px;
    font-weight: 600;
    margin: 0;
}
.topic h3::after{
    content: "";
    display: block;
   width: 164px;
    margin-top: 15px;
    margin-bottom: 30px;
    border-bottom: 3px solid rgb(26, 188, 156);
}
.topic p {
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.28px;
    margin: 0;
    
}
.topic:not(:last-child){
    margin-right: 30px;
}
.img-blog{  
    width: 350px;
}
.topic a {
    text-decoration: none;
    display: table-cell;
    height: 50px;
    font-size: 16px;
    text-align: center;
    width: 160px;
    color: rgb(255, 255, 255);
    line-height: 26px;
    vertical-align: middle;
    border-radius: 5px;
    background: rgb(26,188,156);
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    }