html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
box-sizing: inherit;
}

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
         url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-regular - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  body {
    font-family: 'Montserrat',sans-serif;
    text-align: center;
  }
  /* .container { 
      margin: 0 auto;
      max-width: 300px;
      padding: 0 10px;
  } */
  .header { 
    background-image: url(../img/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    padding-bottom: 140px;
}

.header a {
    text-decoration: none;
    display: block;
    color: rgb(255, 255, 255);

}
.navigation-menu { 
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 14px;
    font-weight: 700;
    padding-top: 20px;
    margin-bottom: 115px;
}
.menu-list { 
    display: inline-block;
    max-width: 90px;
    margin: 0 auto;
}
.menu-list a{
    border: solid 2px transparent;
    border-radius: 30px;
    padding: 8px 17px ; 
    transition: 200ms linear;
}
.menu-list a:hover { 
    border: solid 2px;
    border-radius: 30px;
    padding: 8px 17px ; 
    color: rgb(255, 78, 80);
}
.log-in { 
    /* margin-bottom: 115px; */
}
.logo { 
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    font-weight: 700;
    margin-bottom: 40px;
}
.title-caption {
    margin: 0;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.title-signature { 
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
}
.partners-link { 
    margin: 0 auto;
    display: block;
    border-radius: 20px;
    padding: 10px 0;
    background-color: rgb(255, 78, 80);
    font-size: 14px;
    font-weight: 700;
    max-width: 280px;
}
.main{
    padding-top: 70px;
}
.partners-caption { 
    margin: 0 auto;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 22px;
}
.partners-list { 
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}
.img {
    position: relative;
    width: 220px;
    margin: 0 auto;
    margin-bottom: 25px;
}
.img::after{
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 46px;
}
.icon-tv::after {
    background-image: url(../img/icon-tv.png);
}
.icon-coffe::after{
    background-image: url(../img/icon-coffe.png);
}
.icon-flask::after{
    background-image: url(../img/icon-flask.png);
}
.icon-paper-plane::after{
    background-image: url(../img/icon-paper-plane.png);
}
.partners-name { 
    font-weight: 700;
    margin:0;
    margin-bottom: 25px;
}
.partners-description{
    font-family: 'Roboto',sans-serif;
    color: rgb(102, 102, 102);
    font-size: 14px;
    margin: 0;
    margin-bottom: 30px;
}
.partners-list-item{
    margin-bottom: 30px;
}
.btn { 
    margin: 0 auto;
    padding: 11px 0;
    width: 87.5%;
    font-weight: 700;
    color: rgb(255, 78, 80);
    border: solid 2px rgb(255, 78, 80);
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
}

@media screen and (min-width:768px){
    /* .container{
        max-width: 748px;
        padding: 0 54px;
    } */
    .header{
        background-image: url(../img/bg-tablet.jpg);
        /* padding-bottom: 235px; */
    }
    .nav-bar{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        /* padding-top: 40px; */
        margin: 0;
        /* margin-bottom: 150px; */
    }
    .logo{ 
        margin-top: 6px;
    }
    .navigation-menu {
        margin: 0;
    }
    .title-caption{ 
        margin: 0 auto;
        font-size: 52px;
        max-width: 485px;
        /* margin-bottom: 45px; */
    }
    .title-signature{
        font-size: 24px;
        /* margin-bottom: 40px; */
    }
    .partners-link{
        max-width: 224px;
    }
    .main{
        /* padding-top: 75px; */
    }
    .partners-caption{
        /* margin-top: 75px; */
        /* margin-bottom: 35px; */
    }
    .partners-list{
        /* display: flex;
        flex-wrap: wrap;
        justify-content: center; */
    }
    .partners-list-item{
        max-width: 236px;
        margin: 0;
    }
    .partners-list-item:not(:nth-child(2n+2)){
        /* margin-bottom: 60px; */
    }
    .partners-name{
        /* margin: 18px 0; */
        /* margin-bottom: 18px; */
    }
    .btn{
        max-width: 192px;
    }
}

@media screen and (min-width:960px){
    .header{
        background-image: url(../img/bg.jpg);
    }
    .container { 
        max-width: 940px;
        padding: 0;
    }
    .nav-bar {
        /* margin-bottom: 165px; */
    }
    .partners-caption{
        /* margin-bottom: 40px; */
    }
    .partners-list-item{
        max-width: 220px;
        /* margin-bottom: 0; */
    }
    .partners-list-item:nth-child(-n+3){
        /* margin-bottom: 40px; */
    }
    .sign-up{
        /* border: solid 0; */
    }
}