html {
    box-sizing: border-box;

}
*,
*::before,
*::after {
box-sizing: inherit;
}
.page {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}
.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

.wrap {
    width: 1110px;
    margin: auto;
}
.logo {
    text-decoration: none;
    float: left;
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
    color: rgb(85, 82, 82);
   padding-top: 32px;
}
.logo::first-letter {
    font-weight: 600;
    color: rgb(26, 188, 156);
}
.menu{
    list-style: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    min-width: 465px;
    float: right;
 margin: 0;
 padding: 0;
 /* margin-top: 8px; */
 }

.menu li{
    float: left;
   
}
.menu li:not(:last-child) {
    margin-right: 33px;
}
.menu a{
    text-decoration: none;
    display: block;
    color: rgb(0, 0, 0);
    padding: 40px 0;
}
.menu a:hover{
    color: rgb(26, 188, 156);
}
.container {
    margin: 0 auto;
    max-width: 1600px;
    height: auto;
    background-color: rgb(233, 240, 253);
}
.slide {
    background-image: url(../img/slide/slide.jpg);
    margin: 0 auto;
    background-repeat: no-repeat;
    min-height: 600px;
    width: 100%;
    position: relative;   
    /* margin-bottom: 100px; */
    box-sizing: content-box;
    padding-bottom: 100px;
}
.bg {
    background-color: rgba(0,0,0, 0.5);
    min-height: 600px;
    position: absolute;
    width: 1600px;
    
}
.text-slide { 
    position: absolute;
    top: 50%;
    left: 50%;
        transform: translate( -50%, -50%);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin: 0;
    white-space: nowrap;
}
.text-slide p {
    margin: 0;
    line-height: 82px;
    font-weight: 700;
    font-size: 60px;
    letter-spacing: -1.2px;
}

.signature { 
    font-size: 24px;
    line-height: 54px;
    font-weight: 300;
    letter-spacing: -0.48px;
}

.btn {
    display: block;
    position: absolute;
    width: 104px;
    height: 104px;
    margin: 0;
    border: 0;
    top: 230px;
    transform: translateY(50%);
}
.btn-left {
    background: url(../img/arrows/arrow-left.png) 50% 50% no-repeat;
    background-color: rgba(26, 188, 156, 0.7);
    left: 245px;
}
.btn-right {
    background: url(../img/arrows/arrow-right.png) 50% 50% no-repeat;
    background-color: rgba(26, 188, 156, 0.7);
    right: 245px;
}
.btn:hover {
background-color: rgba(26, 188, 156, 1);
}

.card-list { 
    text-transform: uppercase;
    /* background-color: rgb(233, 240, 253); */
    position: relative;
    margin: 0 auto;
   
}
.card-list ul {
    margin: 0 auto;
    padding: 0; 
    padding-left: 245px;
}

.card-list li {
    float: left;
    list-style: none;
    margin: 0 auto;
    padding-bottom: 100px;
}
.card-list h2 { 
    margin: 0 ;
    text-align: center;
    font-size: 48px;
    line-height: 32px;
    /* margin-bottom: 110px; */
    padding-bottom: 110px;
    color: rgb(81, 81, 81);
    }
    .card-list h2::after {
        content: "";
        display: block;
        width: 165px;
        margin: 0  auto;
        margin-top: 30px;
        /* margin-bottom: 80px; */
        border-bottom: 7px solid rgb(26, 188, 156);
    }
    
.card {
    position: relative;
    width: 255px;
    height: 322px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    letter-spacing: -0.36px;
    
}
.card:last-child {
    margin-right: 30px;
}
.attr {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(50, 50, 50);
    height: 40px;
    font-size: 18px;
    line-height: 32px;
    /* padding: 4px; */
}
.card-name {
position: absolute;
left: 0;
padding: 4px 10px;
}
.card-price {
    position: absolute;
    right: 0;
    padding: 4px 10px;
    background-color: rgb(140, 140, 140);
}
.card:hover .attr{
background-color: rgb(26, 188, 156);

}
.card:hover .card-price{
    background-color: rgb(127, 217, 199);
}

.icons {
    
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 255px;
    height: 282px;
    background-color: rgba(0, 0, 0, 0.55);
    border: 10px solid rgb(254, 254, 254);
    visibility: hidden;
   }

.icons a {

    text-decoration: none;
    font-family: "OpenSans", sans-serif;
    font-size: 14px;
    color: #fefefe;
    display: block;
    border: 1px solid rgb(254, 254, 254);
    text-align: center;
    background-repeat: no-repeat;
    font-weight: 500;
  
}

.square {
      width: 50px;
      height: 50px;
}
.icon-heart {
    background: url(../img/icon/heart.png) 50%, 50%;
}
.icon-arrows {
    background: url(../img/icon/arrows.png) 50%, 50%;
}
.icon-time { 
    background: url(../img/icon/time.png) 50%, 50%;
}
.icon-cart {
    background: url(../img/icon/cart.png) 10% , 50%;
    width: 166px;
    height: 50px;
    position: relative;
}  
.icon-heart:hover, .icon-arrows:hover, .icon-time:hover {
    background-color: rgb(26, 188, 156);
}
.icon-cart:hover {
    background-color: rgb(50, 50, 50);
}
.card:hover .icons {
    visibility: visible;
}
.icons ul {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icons li {
padding-bottom: 0;
}
.icons li:not(:last-child) {
    margin-bottom: 6px;
}
.icons li:nth-child(2) {
    margin: 0 7px;
}
.icon-cart span {
    position: absolute;
    right: 10%;
    bottom: 50%;
    transform: translateY(50%);
    
}
.ftr {
    width: 1600px;
    margin: 0 auto;
    height: 90px;
    color: rgb(254, 254, 254);
    background-color: rgb(50, 50, 50);
    font-size: 16px;
    letter-spacing: -0,32px;
    font-family: "OpenSans", sans-serif;
    line-height: 28px;
    text-align: center;
    text-transform: capitalize;
    position: relative;
    bottom: 0;
}
.ftr-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}
.ftr p {
    margin: 0; 
    position: absolute;
    left: 0;
    white-space: nowrap;
}
  .ftr a {
    position: absolute;
    display: inline-block;
    right: 0;
    color:rgb(59, 190, 160) ;
    text-decoration: none;
  }