.header__nav-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;
}
.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: $color-header-primary;    
}
.header__nav-menu {
    justify-content: space-evenly;
    min-width: 490px;   
    text-transform: uppercase;
}

.nav-menu__link {
    &::after{
        display: block;
        content: "";
        height: 3px;
        margin-top: 12px;
        background-color: $color-nav__menu--hover;
        transform: scaleX(0);
        transition-timing-function: ease-in-out;
        transition-duration: 200ms;
}
&--hover:hover::after{
    transform: scaleX(1);
}
&--hover:hover{
    color: $color-nav__menu--hover;
}

    color: $color-header-primary;
    font-size: 14px;
    font-weight: 500;
}

.nav-menu__svg{
    fill: $color-header-primary;
    width: 16px;
    height: 18px;
    &--hover:hover{
        fill:$color-nav__menu--hover;
    }
}