html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
box-sizing: inherit;
}
/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-600 - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
         url('../fonts/montserrat-v14-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* roboto-slab-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-slab-v11-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-slab-v11-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* league-script-regular - latin */
@font-face {
    font-family: 'League Script';
    font-style: normal;
    font-weight: 400;
    src: local('League Script'), local('LeagueScript'),
         url('../fonts/league-script-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/league-script-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
.container {
    max-width: 940px;
    margin: 0 auto;
    /* display: flex; */
    /* flex-basis: 485px; */
    
}
.hat {
    display: flex;
    justify-content: space-between;

}
.hat a {
    text-decoration: none;
}
.logo {
    font-family: 'League Script', sans-serif;
    font-size: 26px;
    line-height: 41px;
    color: rgb(254, 209, 54);
}
.navigation-menu {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 41px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    min-width: 485px;
    text-transform: uppercase;
    /* font-weight: 500; */
    
}
.navigation-menu a{
    color: rgb(34, 34, 34);
}
.navigation-menu a:hover {
    color: rgb(254, 209, 54);
}

.section-services {
    padding-top: 130px;
    padding-bottom: 120px;
}
.caption {
    margin: 0 auto;
    text-align: center;
    font-style: 40px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 80px;
}
.signature {
    margin: 0 auto;
    display: block;
    font-family: 'Roboto', sans-serif;
    /* margin-top: 20px; */
    font-size: 16px;
    font-style: italic;
    text-transform: none;
    color: rgb(119, 119, 119);
    margin-top: 25px;
}
.services {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    align-items: center;
    text-align: center;
}
.logo-services {
    max-width: 290px;
}
.logo-services::before {
    content: "";
    display: block;
    height: 73px;
    width: 74px;
    margin: 0 auto;
    margin-bottom: 28px;
}
.basket::before {
    background-image: url(../img/basket.png);
}
.laptop::before {
    background-image: url(../img/laptop.png);
}
.locked::before{
    background-image: url(../img/locked.png);
}
.services-caption {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    /* line-height: 75px; */
    letter-spacing: -0.36px;
    margin-bottom: 23px;
}
.services-info {
    margin: 0;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 14px;
    letter-spacing: -0.35px;
    line-height: 23px;
    color: rgb(119, 119, 119);
}
.section-form {
    padding-top: 110px;
}
.bg {
    margin: 0 auto;
    background-color: rgb(34, 34, 34);
    background-image: url(../img/map.png);
    background-position: 100% 85%;
    background-repeat: no-repeat;
    min-height: 675px;
    max-width: 1400px;
}
.caption-bg {
    color: rgb(255, 255, 255);
}
.users-data {
    min-height: 306px;
    position: relative;
    
}

.users-data input[type='text'],
 .users-data input[type='email'],
 .users-data textarea {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(187, 187, 187);
    position: absolute;
 }

 .users-data input[type='text'],
 .users-data input[type='email'] { 
    height: 50px;
    width: 455px;
}
.users-data textarea {
/* align-self: flex-end; */
resize: none;
height: 210px;
width: 455px;
right: 0;
}

.users-data input[name='subject'] { 
    top: 160px;
}
.users-data input[type='email'] {
    top: 80px;
}

.users-data input[name='email'],
.users-data input[name='name'],
.users-data textarea:invalid {
    outline: red solid 2px;
}
.users-data input[name='email'],
.users-data input[name='name'],
.users-data textarea:valid { 
    outline: 2px solid green;
}

.btn { 
    font-family: 'Montserrat';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate( -50% ,0);
    /* align-self: center; */
    width: 240px;
    height: 65px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    background-color: rgb(254, 209, 54);
    border: 0;
    padding: 0;
    border-radius: 3px;
    color: rgb(255, 255, 255);
}