html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
box-sizing: inherit;
}
@font-face {
   

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-slab-v11-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-slab-v11-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */ 
}

.container {
    max-width: 940px;
    margin: 0 auto;
    /* display: flex; */
    /* flex-basis: 485px; */
    
}
.hat {
    display: flex;
    justify-content: space-between;

}
.hat a {
    text-decoration: none;
}
.logo {
    font-size: 26px;
    line-height: 41px;
    color: rgb(254, 209, 54);
}
.navigation-menu {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 41px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    min-width: 485px;
    text-transform: uppercase;
    /* font-weight: 500; */
    
}
.navigation-menu a{
    color: rgb(34, 34, 34);
}
.navigation-menu a:hover {
    color: rgb(254, 209, 54);
}

.caption {
    margin: 0 auto;
    text-align: center;
    font-style: 40px;
    line-height: 75px;
    text-transform: uppercase;
}
.signature {
    margin: 0 auto;
    /* margin-top: 20px; */
    font-size: 16px;
    font-style: italic;
    text-transform: none;
    color: rgb(119, 119, 119);
}
.services {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    align-items: center;
    text-align: center;
}
.logo-services::before {
    content: "";
    display: block;
    height: 73px;
    width: 74px;
    margin: 0 auto;
    /* margin-bottom: 57px; */
}
.basket::before {
    background-image: url(../img/basket.png);
}
.laptop::before {
    background-image: url(../img/laptop.png);
}
.locked::before{
    background-image: url(../img/locked.png);
}
.services-caption {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: -0.36px;
}
.services-info {
    margin: 0;
    /* font-family: 'Roboto Slab'; */
    letter-spacing: -0.35px;
    color: rgb(119, 119, 119);
}
.bg {
    background-color: rgb(34, 34, 34);
    background-image: url(../img/map.png);
    background-position: 100% 85%;
    background-repeat: no-repeat;
    min-height: 675px;
}
.caption-bg {
    color: rgb(255, 255, 255);
}
.user-data {
    margin: 0 auto;
}