$color-header-primary: #fff;
$color-header--gradient:linear-gradient(90deg, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%);
$color-nav__menu--hover:#fce38a;
$color-social-icon:#fce38a;
$color-primary-text: #333333;
$color-secondary-text: #999999;
$color-bg-social-icons:#95e1d3;
$color-icon-svg:#f38181;
$color-ftr-primary:#e5e5e5;


$font-primary: 'Montserrat', sans-serif;
$font-secondary--cursive: 'Kaushan Script', cursive;
$font-secondary-text: 'Roboto', sans-serif;