.page {
    margin: 0 auto;
        font-family: 'Playfair Display', serif;
    font-size: 14px;
    line-height: 24px;
    color: rgb(98, 98, 98);
    text-align: center;
}
.head {
padding: 54px 0 54px;
}
.list { 
    margin: 0;
    padding: 0;
list-style: none;
text-transform: uppercase;
}

.list-item {
    display: inline-block;
    padding: 0px 60px;
}

.list-item a{
    text-decoration: none;
    color: rgb(98, 98, 98);
    padding: 54px 0px;
}

a:hover {
color: rgb(3, 169, 244);
}
.container {
    width: 1200px;
    margin: 0 auto;
    font-size: 0;
    
}
.box {
    display: inline-block;
    padding: 30px 30px 74px;
    width: 420px;
        text-align: left;
}
.picture{
    margin-bottom: 20px;
}
.title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: rgb(180, 173, 158);
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
}

.caption {
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 20px;
}

.content {
    margin: 0;
    font-size: 14px;
    }
.click {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    line-height: 24px;
    padding: 16px 55px;
    border-color:  rgb(98, 98, 98);
       background-color: rgb(256, 256, 256);
       pointer-events: auto;
       display: block;
       text-align: center;
       margin: 0 auto; 
       margin-bottom: 70px;
}
.click:hover {
    background: rgb(98,98,98);

}