html {
    box-sizing: border-box;

}
*,
*::before,
*::after {
box-sizing: inherit;
}
.hat { 
max-width: 1200px;
margin: 0 auto;
display: flex;
align-items: flex-end;
justify-content: space-between;
font-family: 'Montserrat', sans-serif;
margin-bottom: 140px;
}
.hat a {
    text-decoration: none;
    display: block;
}
.logo {
    font-size: 30px;
    font-weight: 700;
    color: rgb(149, 225, 211);
    /* margin-top: 30px; */
    padding-bottom: 25px;
}
.navigation-menu {
    display: flex;
    width: 490px;   
    list-style: none;
    justify-content: space-between;
    text-transform: uppercase;
}
.navigation ul {
    margin: 0;
    padding: 0;
    margin-top: 40px;
}
.navigation-menu a {
    color: rgb(149, 225, 211);
    font-size: 14px;
    font-weight: 500;
    /* padding-bottom: 12px; */
    transition-duration: 0.2s;
}
.navigation-menu li::after {
    content: "";
    display: block;
    /* padding-bottom: 12px; */
    padding-bottom: 12px;
    border-bottom: 3px solid rgb(243, 129, 129);
}
.navigation-menu li::after {
    content: "";
    display: block;
    width: 0;
    padding-top: 12px;
    transition-duration: 0.2s;
    /* border-bottom: 3px solid rgb(243, 129, 129); */
}
.navigation-menu li:hover::after{
    transition-duration: 0.2s;
    width: 100%;
    border-bottom: 3px solid rgb(243, 129, 129);
}
.navigation-menu a:hover {
    color: rgb(243, 129, 129);
    /* border-bottom: 3px solid ; */
  transition-duration: 0.2s;
}
.container { 
    max-width: 1200px;
    margin: 0 auto;
}
.container p,h2,ul,h3 {
    margin: 0;
}
.caption {
    text-align: center;  
}
.prefix { 
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    /* margin: 0 auto; */
    /* display: inline-block; */
    /* text-align: center; */
    padding-bottom: 24px;
}
.container h2 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding-bottom: 90px;
}
.services{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.services ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    padding: 0;
}
.services li {
    width: 380px;
    display: flex;
    padding-bottom: 100px;
    justify-content: space-evenly;


}
.wrapper {
    width: 300px;
}
.services-item h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(51, 51, 51);
}
.info {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: rgb(153, 153, 153);
    font-weight: 400;
    padding-bottom: 90px;
}
.services-item li::before { 
    content: '';
    background-repeat: no-repeat;
    width: 32px;
}
.photography::before { 
    background-image: url(../img/service/alarm.png) ;
}
.web-design::before{
    background-image: url(../img/service/graph.png);
}
.creativity::before {
    background-image: url(../img/service/computer.png);
}
.seo::before {
    background-image: url(../img/service/book.png);
}
.css-html::before {
    background-image: url(../img/service/home.png);
}
.digital::before {
    background-image: url(../img/service/digital.png);
}
.team {
    display: flex;
    flex-direction: column;
}

.team-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0 ;
    padding-bottom: 80px;
}
.team-list li {
    /* list-style-type: none; */
}
.team-function {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: rgb(153, 153, 153);
    font-weight: 400;
    font-style: italic;    
    text-align: center;   
    padding-top: 14px; ;
}
.member { 
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    text-align: center;   
    padding-top: 30px;       
}
.team-list-info {
    position: relative;
}
.team-list-img {
    transition: 200ms ;
}
.social-icons {
    visibility: hidden;
    position: absolute;
    width: 380px;
    min-height: 470px;
    top: 0;
    transform: translate(-10px,-10px);
    box-shadow: 10px 10px 0px 0px rgb(149, 225, 211);
    background-image: -webkit-linear-gradient(90deg, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%);
    transition: 200ms ;
}
.team-list-info:hover .social-icons {
    visibility: visible;
    transition: 200ms ;
}
.team-list-info:hover .team-list-img {
    transform: translate(-10px, -10px);
    transition: 200ms ;
}
.social-icons-list {
    position: absolute;
    top: 50%;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50%);
}
.social-icons-list li {
    list-style-type: none;
    display: inline-block;
  
}
.social-icons a {
    display: inline-block;
    
    /* text-align: center; */
    width: 55px;
    height: 55px;
    background-color: rgb(252, 227, 138);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
}
.facebook {
    background-image: url(../img/social/facebook.png);
}
.twitter { 
    background-image: url(../img/social/twitter.png); 
}
.pinterest {
    background-image: url(../img/social/pinterest.png);
}
.instagram {
    background-image: url(../img/social/instagram.png);
}
.social-icons-list a:hover {
    background-color: rgb(149, 225, 211);
}
.ftr {
margin: 0 auto;
    border-top: 1px solid rgb(229, 229, 229);
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    align-items: center;
}
.ftr a {
    text-decoration: none;
    color: rgb(243, 129, 129);
}
.ftr p {
    font-size: 15px;
    line-height: 24px;
    margin: 0;
    color: rgb(51, 51, 51);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding-top: 16px;    
}
.underline::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 60px;
    margin-top: 40px;
    border-bottom: 3px solid rgb(243, 129, 129);
}
.data {
    padding-top: 10px;
}
.data input{
    height: 40px;

}
.ftr button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;    
    color: rgb(255, 255, 255);
    background-color: rgb(149,225,221);
    border: 0;
    padding: 0;
    height: 40px;
    width: 150px;
    /* color: rgb(149, 225, 211); */
}